<form class="create-expfilter-form flex flex-col gap-3">
  <label class="w-full">
    <p class="text-sm text-black">Категория расхода</p>
    <select name="categories" class="p-2 w-full border rounded">
      <option ></option>
      <option >Жилье</option>
      <option >Здоровье</option>
      <option >Продукты</option>
      <option >Досуг</option>
      <option >Образование</option>
      <option >Подарки</option>
      <option >Транспорт</option>
    </select>
  </label>

  <label class="w-full">
    <p class="text-sm text-black">Дата</p>
    <input type="date" name="startdate" value="{{startdate}}" class="p-2 w-full border rounded" />
  </label>

  <label class="w-full">
    <p class="text-sm text-black">Дата</p>
    <input type="date" name="enddate" value="{{enddate}}" class="p-2 w-full border rounded" />
  </label>

  
</form>