<div class="min-h-screen bg-workspace bg-cover">
    <ui-loader loading="{{isLoading}}" class-name="z-1 bg-white/70"></ui-loader>
    <div>
        <header>
            <div class="flex bg-green-100 items-center justify-between p-3">
                <div class="min-w-60">
                    <img class="h-8 w-8" src="/wallet.svg" alt="">
                </div>
                <h1 class="text-gray-950 text-2xl font-bold min-w-60">FINANCE MANAGER</h1>
                <div class="flex items-center min-w-60">
                    <div class="flex items-center mr-3">
                        <a href="mailto:{{user.email}}" class="text-lg font-light text-slate-700">{{user.email}}</a>
                    </div>
                    <button class="logout flex items-center">
                        <p class="text-gray-950 text-lg font-medium hover:text-teal-700 ">LogOut</p>
                        <img class="h-5 w-5 m-2" src="/public/log-out.svg" alt="">
                    </button>
                </div>
            </div>
        </header>
        <h2 class="text-gray-950 text-xl font-semibold min-w-60 text-center underline underline-offset-8">ВАШИ ДОХОДЫ</h>
    </div>

    <nav class="flex justify-around mb-3 items-center">
        <button class="work-page min-w-60 max-h-16 px-3.5 py-2.5 rounded-md mt-5 bg-indigo-500 hover:bg-indigo-400 shadow-sm text-white text-sm font-semibold">МЕНЮ</button>
        <button class="create-profit min-w-60 max-h-16 px-3.5 py-2.5 rounded-md mt-5 bg-teal-500 hover:bg-teal-400 shadow-sm text-white text-sm font-semibold">ДОБАВИТЬ ДОХОД</button>
        <button class="expense-page min-w-60 max-h-16 px-3.5 py-2.5 rounded-md mt-5 bg-lime-400 hover:bg-lime-300 shadow-sm text-white text-sm font-semibold">ВАШИ РАСХОДЫ</button> 
    </nav>

    <ui-filter-profit-balance></ui-filter-profit-balance>
</div>
