<div class="p-10 min-h-screen">
    <ui-loader loading="{{isLoading}}" class-name="z-1 bg-white/70"></ui-loader>
    <h1>PROFIT PAGE</h1>
        <a href="mailto:{{user.email}}" class="text-lg font-light mt-2 text-slate-500 hover:text-indigo-500">{{user.email}}</a>
        <button class="logout px-3.5 py-2.5 rounded-md mt-5 bg-red-500 hover:bg-red-400 shadow-sm text-white text-sm font-semibold">ВЫХОД</button>
        <button class="work-page px-3.5 py-2.5 rounded-md mt-5 bg-indigo-500 hover:bg-indigo-400 shadow-sm text-white text-sm font-semibold">МЕНЮ</button>
        <button class="expense-page px-3.5 py-2.5 rounded-md mt-5 bg-yellow-500 hover:bg-yellow-400 shadow-sm text-white text-sm font-semibold">РАСХОДЫ</button>
        <button class="create-profit px-3.5 py-2.5 rounded-md mt-5 bg-green-500 hover:bg-green-400 shadow-sm text-white text-sm font-semibold">ДОБАВИТЬ ДОХОД</button>
</div>