<ui-loader loading="{{isLoading}}" class-name="z-1 bg-white/70"></ui-loader>

 <div class="p-1">
                <label>
                    <p class="text-gray-950 text-xl font-semibold text-center">Фильтр по категории расходов</p>
                    <select name="categories" class="categories-balance-expense p-2 w-full rounded border-2 border-slate-900 bg-cyan-500 text-gray-950 text-xl font-semibold text-center">
                        <option>{{categoryName}}</option>
                        <option>Жилье</option>
                        <option>Здоровье</option>
                        <option>Продукты</option>
                        <option>Досуг</option>
                        <option>Образование</option>
                        <option>Подарки</option>
                        <option>Транспорт</option>
                    </select>
                </label>
            </div>

 
        
            
                
                
    


   
        
        




