<form class="create-profit-form flex flex-col gap-3">
  <label class="w-full">
    <p class="text-sm text-black">Источник дохода</p>
    <select name="categories" class="p-2 w-full border rounded">
      <option>Зарплата</option>
      <option>Подарки</option>
      <option>Другое</option>
    </select>
  </label>

  <label class="w-full">
    <p class="text-sm text-black">Сумма</p>
    <input type="number" name="sum" value="{{sum}}" class="p-2 w-full border rounded" />
  </label>

<label class="w-full">
    <p class="text-sm text-black">Дата</p>
    <input type="date" name="date" value="{{date}}" class="p-2 w-full border rounded" />
  </label>

  <label class="w-full">
    <p class="text-sm text-black">Описание</p>
    <textarea name="description" class="p-2 w-full border rounded">{{description}}</textarea>
  </label>
</form>