 <div class="min-w-80">
        <p>Сумма расхода по фильтру</p>
        <div class="flex max-w-80 m-1 bg-amber-100 relative board-item border-2 border-slate-900 rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg">
            <p class="min-w-32 border-slate-900 p-1 border-r-2">{{filterTitle}}</p>
            <p class="border-slate-900 p-1">{{filterBalance}}</p>
        </div>
        <div>
            <label class="w-full">
                <p class="text-sm text-black">Фильтр по категории расходов</p>
                <select name="categories" class="filter-balance p-2 w-full border rounded">
                    <option>Выберите категорию</option>
                    <option>Жилье</option>
                    <option>Здоровье</option>
                    <option>Продукты</option>
                    <option>Досуг</option>
                    <option>Образование</option>
                    <option>Подарки</option>
                    <option>Транспорт</option>
                </select>
             </label>
        </div>
    </div>