<div class="min-w-96">
    <p class="text-gray-950 text-xl font-semibold text-center">Баланс вашего счета</p>
    <div class="flex  m-1 bg-cyan-100 relative board-item border-2 border-slate-900 rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg">
        <p class="min-w-36 border-slate-900 p-1 border-r-2 text-lg font-medium">Ваши доходы:</p>
        <p class="border-slate-900 p-1 text-lg font-medium">{{profTotalBalance}}</p>
    </div>

    <div class="flex m-1 bg-cyan-200 relative board-item border-2 border-slate-900 rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg">
        <p class="min-w-36 border-slate-900 p-1 border-r-2 text-lg font-medium">Ваши расходы:</p>
        <p class="border-slate-900 p-1 text-lg font-medium">{{expTotalBalance}}</p>
    </div>

    <div class="flex m-1 bg-cyan-300 relative board-item border-2 border-slate-900 rounded cursor-pointer transition-shadow hover:shadow-slate-200 hover:shadow-lg">
        <p class="min-w-36 border-slate-900 p-1 border-r-2 text-lg font-medium">Ваш баланс:</p>
        <p class="border-slate-900 p-1 text-lg font-medium">{{totalBalance}}</p>
    </div>
</div>