<div class="min-h-screen bg-workspace bg-cover">
    <ui-loader loading="{{isLoading}}" class-name="z-1 bg-white/70"></ui-loader>
    <header>
        <div class="flex bg-green-100 items-center justify-between p-3">
            <div class="min-w-60">
                <img class="h-8 w-8" src="/wallet.svg" alt="">
            </div>
            <h1 class="text-gray-950 text-2xl font-bold min-w-60">FINANCE MANAGER</h1>
            <div class="flex items-center min-w-60">
                <div class="flex items-center mr-3">
                    <a href="mailto:{{user.email}}" class="text-lg font-light text-slate-700">{{user.email}}</a>
                </div>
                <button class="logout flex items-center">
                    <p class="text-gray-950 text-lg font-medium hover:text-teal-700 ">LogOut</p>
                    <img class="h-5 w-5 m-2" src="/log-out.svg" alt="">
                </button>
            </div>
        </div>
    </header>

    <nav class="flex justify-around pt-5 items-center">
        <button class="profit-page min-w-60 max-h-16 px-3.5 py-2.5 rounded-md mt-5 bg-lime-400 hover:bg-lime-300 shadow-sm text-white text-sm font-semibold">ВАШИ ДОХОДЫ</button>
        <div>
            <ui-total-balance> 
        </div>
        <button class="expense-page min-w-60 max-h-16 px-3.5 py-2.5 rounded-md mt-5 bg-teal-400 hover:bg-teal-300 shadow-sm text-white text-sm font-semibold">ВАШИ РАСХОДЫ</button>
    </nav>
</div>
