<ui-loader loading="{{isLoading}}" class-name="z-10 bg-white"></ui-loader>
<div>
    <app-router>
        <app-route path="/" title="Home Page" component="home-page"></app-route>
        <app-route path="/sign-up" title="Sign Up" component="sign-up-page"></app-route>
        <app-route path="/sign-in" title="Sign In" component="sign-in-page"></app-route>
        <app-route path="/work" title="Work Page" component="work-page"></app-route>
        <app-route path="/not-found" title="Not Found" component="not-found"></app-route>
        <app-outlet></app-outlet>
    </app-router>
</div>

<ui-toast></ui-toast>
<ui-modal></ui-modal>